
.sliderContainer {
    position: relative;
}

.containerTitle {
    margin-left: 50px;
}

.title {
    font-family: var(--root-font-grotesk);
    color: var(--primary-color);
    font-size: 70px;
    font-weight: 800;
    line-height: 110%;
    text-transform: uppercase;
    text-align: left;
}

.sliderInner {
    margin-top: 40px;
    padding-left: calc(50vw - 720px);
    width: 100%;
}

.workSlide {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 588px;
}

.workImg {
    width: 100%;
    height: 332px;
}

.workInfo {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    row-gap: 13px;
}

.workTitle {
    color: var(--primary-color);
    font-family: var(--root-font-grotesk);
    text-align: left;
    font-size: 36px;
    font-weight: 800;
    line-height: 100%;
}

.workSubtitle {
    color: #2c2e35;
    font-family: var(--root-font-montserrat);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.linkBtn {
    margin-top: 7.5px;
    background: inherit;
    border: none;
}

.link {
    align-items: center;
    color: #2c2e35;
    -webkit-column-gap: 12px;
    column-gap: 12px;
    display: flex;
    font-family: var(--root-font-montserrat);
    justify-content: flex-start;
    text-transform: uppercase;
    width: 100%;
}

.link:hover {
    font-size: 15px;
    font-weight: 700;
    transition: .1s ease;
}

.buttonSwiper {
    display: flex;
    column-gap: 24px;
}

.swiperButtonPrev,
.swiperButtonNext {
    background: var(--primary-color);
    cursor: pointer;
    height: 94.14px;
    width: 94.5px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.swiperButtonPrev:hover,
.swiperButtonNext:hover {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), var(--primary-color);
}

.buttonArrangement {
    position: absolute;
    top: -10px;
    right: 50px;
}